
/* =======================================================2행 카테고리, 추천상품 */
.re{background-color: #000;padding: 100px 0 180px 0;}
.re *{color: #fff; line-height: 1.5;}
.re .re_categories{max-width: 1350px; min-width: 300px; margin: 0 auto;}
.re .re_categories .categories_top{
    margin-bottom: 130px;
    display: flex; justify-content: space-between;
}
.re .re_categories .categories_top .menu_main{}
.re .re_categories .categories_top .menu_main>a{width: 100%;}
.re .re_categories .categories_top .menu_main>a img{width: 100%;}
.re .re_categories .categories_top .menu_main h3{margin-top: 10px;font-weight: 800;}
.re .re_categories .categories_top .menu_main p{
    margin: 22px 0; font-size: 0.875rem;
}
.re .re_categories .categories_top .menu_main:nth-child(2) p{margin: 11.5px 0;}
.re .re_categories .categories_top .menu_main>button{
    padding: 10px 20px; border: 1px solid #D4AF37; color: #D4AF37; font-size: 0.875rem;
}
.re .re_categories .categories_top .menu_main>button:hover{
    color: #fff; border: 1px solid #fff;
}
.re .re_categories .recommended_bottom{
    display: flex; position: relative;

}
.re .re_categories .recommended_bottom>a:first-child{
    position: absolute; top: 50%; left: -40px;
}/* 화살표 */
.re .re_categories .recommended_bottom>a:last-child{
    position: absolute; top: 50%; right: -40px;
}/* 화살표 */
.re .re_categories .recommended_bottom>a img{width: 100%;}
/* ===============================상품 4개 묶음 */
.product{width: 100%;}
.product *{line-height: 150%;}
.product .container{
    max-width: 1350px; min-width: 300px; 
    margin: 0 auto; display: flex;
}
.product .container .box{margin-right: 50px;}
.product .container .box:last-child{margin-right: 0px;}
.product .container .box .images{width: 300px;}
.product .container .box .images img{width: 100%;}
.product .container .box p:nth-child(2){margin: 10px 0;font-weight: 800;}
.product .container .box p:nth-child(3){font-size: 0.875rem;color: #777; font-weight: 200;}
/* ===============================상품 4개 묶음 끝 */
/* =======================================================2행 카테고리, 추천상품 끝 */
/* =======================================================3행 카테고리 */
.category{
    width: 100%; height: 100vh; 
    display: flex;
}
.category .common_category{
    width: 100%;
    position: relative;
}
.category .common_category>span{
    display: block; width: calc(100% / 3); height: 100%;
}
.category .common_category>span:first-child {
    
    position: absolute;top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);
    z-index: 10; width: 100%;
    transition: background-color 0.5s;
}
.category .common_category:hover>span:first-child{
    background-color: rgba(0, 0, 0, 0);
}
.category .common_category>span:last-child{
    position: absolute;top: 0;
    width: 100%; height: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category .common_category>span em{
    display: block; margin-top: 150px;
    font-size: 1.875rem; font-family: 'MaruBuri'; color: #D4AF37;
}
.category .speakers{}
.category .speakers span:last-child{
    width: 100%; 
    background-image: url(../images/main_page/category/speakers.jpg);
}
.category .headphones{}
.category .headphones span:last-child{
    width: 100%;
    background-image: url(../images/main_page/category/headphones.jpg);
}
.category .amps {}
.category .amps span:last-child {
    width: 100%;
    background-image: url(../images/main_page/category/amps.jpg);
}
/* =======================================================3행 카테고리 끝 */
/* =======================================================4행 초보&원산지 */
.ns{width: 100%; background-color: #000; padding: 150px 0;}
.ns *{color: #fff; line-height: 150%; }
.ns .nsall{}
.ns .nsall .ns_top *{text-align: left;}
.ns .nsall .ns_top{margin-bottom: 50px;}
.ns .nsall .ns_bottom *{text-align: right;}
.ns .nsall .ns_a{
    display: flex; align-items: center;
}
.ns .nsall .ns_a .ns_text{
    width: 40%; padding: 0 50px;
}
.ns .nsall .ns_a .ns_text h2{font-size: 1.5rem; font-weight: 800;}
.ns .nsall .ns_a .ns_text p{
    margin: 40px 0;
    font-size: 0.875rem; color: #777;
    text-transform: capitalize;
}
.ns .nsall .ns_a .ns_text button:hover{color: #fff; border: 1px solid #fff;}
.ns .nsall .ns_a .ns_text button{
    padding: 15px 30px; font-size: 0.875rem;
    border: 1px solid #D4AF37; color: #D4AF37; 
    border-radius: 50px;
}
.ns .nsall .ns_a .ne_img{width: 60%;}
.ns .nsall .ns_a .ne_img img{width: 100%;}
/* ==============공통 */
.ns .nsall .ns_top .novice_text{}/* 초보자 */
.ns .nsall .ns_top .novice_img{}
.ns .nsall .ns_bottom .sources_img{}/* 원산지 */
.ns .nsall .ns_bottom .sources_text{}/* 원산지 */
/* =======================================================4행 초보&원산지 끝 */
/* =======================================================5행 TV 배너 */
.tv_b{
    width: 100%; height: 500px;
    position: relative;
}
.tv_b *{color: #fff; line-height: 150%; }
.tv_b .tv_text{
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.tv_b .tv_text .tv_t {
    position: absolute;
    left: 360px; bottom: 100px;
}
.tv_b .tv_text .tv_t h2{
    font-size: 1.875rem;font-family: 'MaruBuri';
    text-align: left;
}
.tv_b .tv_text .tv_t p{
    text-align: left; color: #777; font-size: 0.875rem;
    margin: 20px 0; text-transform: capitalize;
}
.tv_b .tv_text .tv_t button{
    display: block; font-size: 0.875rem; padding: 10px 15px;
    color: #D4AF37; border: 1px solid #D4AF37;
}
.tv_b .tv_img{
    background: url(../images/main_page/product/tv_bg.jpg) center/cover;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
}
/* =======================================================5행 TV 배너 끝 */
/* =======================================================6행 제품 */
.m_product{
    width: 100%; background-color: #000;
    padding: 200px 0;
}
.m_product *{color: #fff;}
.m_product .m_box_product{}
.m_product .m_box_product .m_box_top{margin-bottom: 60px;}
.m_product .m_box_product .m_box_bottom{margin-bottom: 50px;}
.m_product .m_product_s{
    max-width: 1350px; min-width: 320px; height: 15px;
    margin: 0 auto; display: flex;
}
.m_product .m_product_s .p_s{width: 100%;}
.m_product .m_product_s .p_s>span{display: block;}
.m_product .m_product_s .p_s span:nth-child(1){
    width: 100%; height: 1px; background-color: #fff;
    margin-bottom: 10px;
}
.m_product .m_product_s .p_s:hover span:nth-child(1){background-color: #D4AF37;}
.m_product .m_product_s .p_s span:nth-child(2){
    width: 5px; height: 5px; border-radius: 5px; background-color: #D4AF37;
    margin: 0 auto; opacity: 0;
}
.m_product .m_product_s .p_s:hover span:nth-child(2){opacity: 1;}
.m_product .m_product_s .p_s1{}
.m_product .m_product_s .p_s2{}/* 계속 활성화 상태 */
.m_product .m_product_s .p_s2 span:nth-child(1){background-color: #D4AF37;}
.m_product .m_product_s .p_s2 span:nth-child(2){opacity: 1;}
.m_product .m_product_s .p_s3{}
.m_product .m_product_s .p_s4{}
.m_product .m_product_s .p_s5{}
/* =======================================================6행 제품 끝 */
/* =======================================================7행 배너 */
.banner{
    width: 100%; height: 300px;
    position: relative;
    display: block;
}
.banner *{color: #fff; line-height: 150%; }
.banner .banner_text{
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6);
    position: absolute; top: 0; left: 0; z-index: 10;
    display: grid; align-items: center;
}
.banner .banner_text .banner_t{}
.banner .banner_text .banner_t h2{
    font-size: 1.875rem;font-family: 'MaruBuri';
}
.banner .banner_text .banner_t p{
    color: #777; font-size: 0.875rem; margin: 20px 0;text-transform: capitalize;
}
.banner .banner_img{
    width: 100%; height: 100%; background-color: yellow;
    position: absolute; top: 0; left: 0;
    background: url(../images/main_page/banner.jpg) center/cover;
}
/* =======================================================7행 배너 끝 */
/* =======================================================8행 회사소개  */
.company{width: 100%; background-color: #000; padding: 230px 0 20px 0;}
.company * {color: #fff; line-height: 150%;}
.company .company_text{
    max-width: 1100px; min-width: 320px;
    margin: 0 auto; 
}
.company .company_text h2{
    font-size: 2.5rem; font-weight: 800; margin-bottom: 30px;
}
.company .company_text p{
    color: #777;text-transform: capitalize; margin-bottom: 100px;
}
.company .company_img{
    width: 100%;
    display: flex; padding: 0 20px;
    justify-content: space-between; align-items: end;
}
.company .company_img samp{display: block;}
.company .company_img samp:last-child{margin-right: 0px;}
.company .company_img .c_left{margin-right: 10px;}
.company .company_img .c_left img{max-width: 100%;}
.company .company_img .c_center{max-width: 1020px; min-width: 320px; margin-right: 10px;}
.company .company_img .c_center img{width: 100%;}
.company .company_img .c_right{}
.company .company_img .c_right img{width: 100%;}
.company .company_img samp img{width: 100%;}
/* =======================================================8행 회사소개 끝 */

