@media screen and (max-width:1349px){ /* 태블릿 */
    #product{padding: 130px 80px 50px;}
    #product .container{
        flex-flow: column nowrap; 
        height: 100%; max-width: 640px; min-width: 300px;
        margin: 0 auto; 
    }
    #product .container .product_img{width: 100%; flex-flow: column nowrap;}
    #product .container .product_img .product_thumbnail{margin-right: 0;}
    #product .container .product_img .product_thumbnail .thumbnail_img{
        display: flex; width: 100%; 
    }
    #product .container .product_img .product_thumbnail .thumbnail_img>a{
        margin-right: 10px; 
    }
    #product .container .product_img .product_thumbnail .thumbnail_img>a:last-child{margin-right: 0;}
    #product .container .product_img .product_thumbnail .thumbnail_img>a img{width: 100%;}
    #product .container .product_img .product_main_img>p{width: 100%; height: 100%;} 
    #product .container .product_text{width: 100%;}
    #product .container .product_img .product_thumbnail>a:nth-child(1),
    #product .container .product_img .product_thumbnail>a:last-child{display: none;}
    
    #product .container .product_text{padding: 40px 0; }
    #product .container .product_text .restrict{margin-bottom: 10px;}
    #product .container .product_text .title{margin-bottom: 10px;}
    #product .container .product_text .detail{margin-bottom: 10px;}
    #product .container .product_text .colon_review{margin-bottom: 10px;}
    #product .container .product_text .price{margin-bottom: 10px;}
    #product .container .product_text .but_box{margin-bottom: 10px;}
    #product .container .product_text .announcement{margin-bottom: 10px;}
}

@media screen and (max-width:799px){ /* 모바일 */
    #product{padding: 100px 10px 10px;}
    #product .container .product_img{margin-bottom: 20px; /* height: 250px; */}
    #product .container .product_img .product_thumbnail{display: none;}
    #product .container .product_img .product_main_img>p img{display: block;}
    #product .container .product_text{padding: 0px 0; }
    #product .container .product_text .title h2{font-size: 1.375rem;}
    #product .container .product_text .title p{font-size: 0.75rem;}
    #product .container .product_text .detail>span{font-size: 0.5rem;}
    #product .container .product_text .price{font-size: 1rem;}
    #product .container .product_text .but_box>button{font-size: 0.625rem;}
    #product .container .product_text .but_box .purchase button{font-size: 0.625rem;}
    #product .container .product_text .announcement{margin-bottom: 30px;}
    #product .container .product_text .announcement .announcement_box .text p{font-size: 0.625rem;}
    #product .container .product_text .announcement .announcement_box .tmi>p{padding: 10px;}
    #product .container .product_text .announcement .bank .bank_box .img{display:none;}
    #product .container .product_text .movemenu_btn>a{font-size: 0.625rem;}

}